
*{
	margin: 0;
	padding: 0;
	 font-family: sans-serif ;

}

.fb{
	background-color: #2b19d1;
}


.fb #facebook{
	
	padding: 10px;
	color: white;
	text-decoration:none;
}




#contact-info{
	float: right;
	padding: 2.3rem 5rem 0 0;
	color: pink;
}

#contact-info{
	float: right;
	padding: 2.3rem 5rem 0 0;

}






.animation{
	text-decoration:none;
	font-size: 1.1rem;
	transition: transform 0.2s linear;
}

.animation:hover{
	transform: scale(1.1);
	text-decoration: underline;

}


.container{
	width: 100%;
	max-width: 1000px;
	height: auto;
	background-color: #bdfffe;
	margin: 10px auto;
	position: relative;

}


}

 .jump-links{
	width: 100%;
	height: auto;
	max-width: 1000px;
	border: 2px solid black;
	position: sticky;
	top: 2px;
	box-sizing: border-box;
	background-color: black;
	
}


.para {
	
	
	margin: 10px;
	background-color: black;
	
	
}



 .para a{
	
	text-decoration: none;
	margin: 10px;
	color: white;
	
}
.p1 .a1{
	color: #ff9d00;
}

#contact-info p a:active{
	
	background-color: #f5d9b5;

}



.div-clear{
	clear: both;
}



img.profilePic{
	
	float: left;
	width: 90px;
	height: 90px;
	border: 1px solid white;
	border-radius: 50%;
	margin: 25px;
}

h1, h2, h3, h4, h5, h6{
	color: #129cff ;
}

.name{
	float: left;
	margin-top: 30px;
}







.header-hr{
	border: 3px solid black;
	width: 100%;
	box-sizing: border-box;
	
}

.common-hr{
	border: 1px solid black;
	width: 100%;
	box-sizing: border-box;
}



.left-side{
	float: left;
	width: 30%;
	margin: 20px 20px;
}



.right-side{
	float: left;
	width: 60%;
	margin: 20px 20px;
}


.right-side p{
	font-size: 1.2rem;
}





















